.new_card {
  cursor: pointer;
}
.ant-card-cover {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ant-card-cover img {
  width: 200px !important;
  height: 200px !important;
}
.prices .after_discount {
}
.before_discount {
  text-decoration: line-through;
}

.header_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_card span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #274c5b;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  cursor: pointer;
}
.header_card span img {
  height: 20px;
}

.prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rate {
  scale: 0.8;
}
